<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubox10.overlay.tvremote"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="31"
        android:targetSdkVersion="31" />

    <overlay
        android:targetPackage="android"
        android:isStatic="true"
        android:priority="999" />

    <application
        android:hasCode="false"
        android:label="UBOX10 TV Remote configuration" />
</manifest>
